<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div id="app">
    search:<input type="text" v-model="query" @keyup = "search" @keydown.down = "down"@keydown.up.prevet="up">
    <ul class="list-group">
        <li v-for="(data,key) in datas" class="list-group-item " :class="{active:index==key}">{{data}}</li>
    </ul>
</div>
</body>
</html>
<script src="vue.js"></script>
<script src="vue-resource.js"></script>
<script>
var vm = new Vue({
    el:'#app',
    data:{
        query:'',
        datas:[],
        index:0
    },
    methods:{
        down(){
            if(this.index ==this.datas.length-1){
                this.index =0
            }else {
                this.index++;
            }

this.query = this.datas[this.index];
        },
        up(){
            if(this.index ==0){
                this.index=this.datas.length-1;
            }else {
this.index--
            }
            this.query = this.datas[this.index];
        },
        search(e){
            var keyCode = e.keyCode
            if(keyCode == 38||keyCode==40) return
            if(keyCode ==13){
                return window.open('https://www.baidu.com/s?wd'+this.query);
            }
            this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                params:{
                wd:this.query,
            },
                jsonp:'cb'
            }).then(res =>{
                var datas = res.body.s;
                this.datas = datas;
            })
        }
    }
})
</script>