<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">

</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="form-group">
                        <label for="title" class="control-label">标题</label>
                        <input type="text" class="form-control" v-model="title">
                    </div>
                    <div class="form-group">
                        <label for="title" class="control-label">内容</label>
                        <textarea class="form-control" v-model="content"></textarea>
                    </div>
                    <div form-group><button type="button"@click = 'leave'  class="btn btn-primary">添加留言 </button></div>
                </form>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>标题</p>
                        <p>内容</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="vue.js"></script>
<script src="vue-resource.js"></script>
<script>
    var vm = new  Vue({
        el:'#app',
        data:{
            title:'',
            content:'',
            massages : []

        },
        methods:{
leave(){
    /*this.massages.push()*/
    this.$http.post('/leaves',{title:this.title,content:this.content}).then(function (res) {
        this.massages= res.body;
    })
}
        }

    })

</script>